//  proj.xcconfig
//  SetDmgOpenFolder
//
//  Created by James Walker on 6/4/24.
//  
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974

// Architectures
SDKROOT = macosx


// Deployment
COPY_PHASE_STRIP = NO
MACOSX_DEPLOYMENT_TARGET = 11.0


// Packaging
CREATE_INFOPLIST_SECTION_IN_BINARY = YES
GENERATE_INFOPLIST_FILE = YES
PRODUCT_BUNDLE_IDENTIFIER = com.jwwalker.setdmgopenfolder


// Info.plist values
INFOPLIST_KEY_LSApplicationCategoryType = public.app-category.utilities
INFOPLIST_KEY_NSHumanReadableCopyright = ©2024 James W. Walker


// Search Paths
ALWAYS_SEARCH_USER_PATHS = NO


// Signing
DEVELOPMENT_TEAM = FDHC2KMZ6V
ENABLE_HARDENED_RUNTIME = YES
CODE_SIGN_STYLE = Automatic


// Versioning
CURRENT_PROJECT_VERSION = 1
MARKETING_VERSION = 1.0


// Language
CLANG_CXX_LANGUAGE_STANDARD = c++20
CLANG_ENABLE_OBJC_ARC = YES
CLANG_ENABLE_OBJC_WEAK = YES

